// Neutral
// -----------------------------------------------------
$black: #333;
$white: #FFF;


// Color
// -----------------------------------------------------
$blue: #5081A7;
$blueDark: #2F5369;
$green: #154B3A;
$greenDark: #53654B;
$red: #A7302C;
$redDark: #4B1D23;
$yellow: #EEC233;
$yellowDark: #BCA233;
