// Neutral
// -----------------------------------------------------
$black: #333;
$white: #FFF;


// Transparencies
// -----------------------------------------------------
$navTileHover: 0.5;


// Color
// -----------------------------------------------------
$blue: #5081A7;
$blueTransparent: rgba(80,129,167,$navTileHover);
$green: #154B3A;
$greenTransparent: rgba(21,75,58,$navTileHover);
$red: #A7302C;
$redTransparent: rgba(167,48,44,$navTileHover);
$yellow: #EEC233;
$yellowTransparent: rgba(238,194,51,$navTileHover);
