.NavTile {
  display: inline-block;
  vertical-align: top;
  height: calc(50% - 3px);
  width: calc(50% - 3px);

  .Tile {
    height: 100%;
    width: 100%;
  }
}

.NavTile:first-child {
  border-bottom: 3px solid $white;
  border-right: 3px solid $white;

  .Tile {
    background-color: $red;
  }

  .Tile:hover {
    // TODO (Bison): update hover to be transparency w/ texture behind it
    // TODO (Bison): make transparency gradient come out of the center towards the corner
    background-color: $redTransparent;
  }
}

.NavTile:nth-child(2) {
  border-bottom: 3px solid $white;
  border-left: 3px solid $white;

  .Tile {
    background-color: $yellow;
  }

  .Tile:hover {
    // TODO (Bison): update hover to be transparency w/ texture behind it
    // TODO (Bison): make transparency gradient come out of the center towards the corner
    background-color: $yellowTransparent;
  }
}

.NavTile:nth-child(3) {
  border-top: 3px solid $white;
  border-right: 3px solid $white;

  .Tile {
    background-color: $blue;
  }

  .Tile:hover {
    // TODO (Bison): update hover to be transparency w/ texture behind it
    // TODO (Bison): make transparency gradient come out of the center towards the corner
    background-color: $blueTransparent;
  }
}

.NavTile:last-child {
  border-top: 3px solid $white;
  border-left: 3px solid $white;

  .Tile {
    background-color: $green;
  }

  .Tile:hover {
    // TODO (Bison): update hover to be transparency w/ texture behind it
    // TODO (Bison): make transparency gradient come out of the center towards the corner
    background-color: $greenTransparent;
  }
}
