.landing__container {
  height: 100%;
  width: 100%;
}

.nav__tile {
  display: inline-block;
  vertical-align: top;
  height: calc(50% - 3px);
  width: calc(50% - 3px);

  .tile {
    height: 100%;
    width: 100%;
  }
}

.nav__tile:first-child {
  border-bottom: 3px solid $white;
  border-right: 3px solid $white;

  .tile {
    background-color: $red;
  }

  .tile:hover {
    // background-color: $redTransparent;
  }
}

.nav__tile:nth-child(2) {
  border-bottom: 3px solid $white;
  border-left: 3px solid $white;

  .tile {
    background-color: $yellow;
  }

  .tile:hover {
    // background-color: $yellowTransparent;
  }
}

.nav__tile:nth-child(3) {
  border-top: 3px solid $white;
  border-right: 3px solid $white;

  .tile {
    background-color: $blue;
  }

  .tile:hover {
    // background-color: $blueTransparent;
  }
}

.nav__tile:last-child {
  border-top: 3px solid $white;
  border-left: 3px solid $white;

  .tile {
    background-color: $green;
  }

  .tile:hover {
    // background-color: $greenTransparent;
  }
}

.landing {
  position: relative;

  .profile-icon {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    height: 222px;
    width: 222px;
    top: calc(50% - 111px);
    left: calc(50% - 111px);

    img {
      border-radius: 50%;
      border: 6px solid $white;
      box-sizing: border-box;
    }
  }
}
