.d--flex {
    display: flex;
}

.d--ib {
    display: inline-block;
}

.h--100p {
    height: 100%;
}

.h--100vh {
    height: 100vh;
}

.h--130px {
    height: 130px;
}

.h--194px {
    height: 194px;
}

.l---3px {
    left: -3px;
}

.m--0-auto {
    margin: 0 auto;
}

.mt---4px {
    margin-top: -4px;
}

.ovf--hidden {
    overflow: hidden;
}

.p--relative {
    position: relative;
}

.t---3px {
    top: -3px;
}

.t--calc--50p-280-5 {
    top: calc(50% - 280.5px);
}

.w--100p {
    width: 100%;
}

.w--294px {
    width: 294px;
}

.w--300px {
    width: 300px;
}

.w--100vw {
    width: 100vw;
}

@media screen and (max-width: 723px) {
    .mb--50px---max-723px {
        margin-bottom: 50px;
    }

    .mt--50px---max-723px {
        margin-top: 50px;
    }
}

@media screen and (min-width: 724px) {
    .ai--center--at-724px {
        align-items: center;
    }

    .d--flex--at-724px {
        display: flex;
    }

    .jc--center--at-724px {
        justify-content: center;
    }

    .ml--7p--at-724px {
        margin-left: 7%;
    }

    .mr--7p--at-724px {
        margin-right: 7%;
    }

    .t--calc--50p-97--at-724px {
        top: calc(50% - 97px);
    }

    .w--auto--at-724px {
        width: auto;
    }
}

@media screen and (min-width: 1024px) {
    .ml--10p--at-1024px {
        margin-left: 10%;
    }

    .mr--10p--at-1024px {
        margin-right: 10%;
    }
}
